/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
}

/* box model fix here */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    background-color: white;
}

/* header */

header {
    background-color: #CBE2F0;
    position: fixed;
    width: 100%;
}

header h1 {
    background-color: #CBE2F0;
    padding: 1rem 0 0 2%;
    font-size: 1.75rem;
    color: white;
}

header h2 {
    background-color: #CBE2F0;
    padding-left: 2%;
    font-size: .86rem;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 16px;
}

/* navigation */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 82px;
    width: 100%;
    background-color: #CBE2F0;
    border-top: solid 1px #CBE2F0;
    border-bottom: solid 1px #ffffff;
}

nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    float: left;
}

nav ul.menu li a {
    display: block;
    padding: .5rem 1.5rem;
    text-decoration: none;
    color: #6B7D82;
}

nav ul.menu li a:hover {
    background-color: white;
    color: #000;
    border-bottom: solid 3px #6B7D82;
}

nav ul.menu li.active a{
    background-color:#6B7D82;
    color: white;
    border-bottom: solid 3px white;
}

/* main */

main {
    padding: 1rem;
    padding-top: 140px;
    background-color: #FFFFFF;
}

main h1 {
    font-size: 2rem;
    color: #6B7D82;
    border-bottom: 1px solid #516D57;
    margin-bottom: 1rem;
}

main h2 {
    font-size: 1.5rem;
    color: #6B7D82;
    margin-bottom: .2rem;
}

main p {
    padding-bottom: .5rem;
    line-height: 150%;
}

main p.signature img {
    width: 200px;
}

main blockquote {
    font-style: italic;
    margin: .4rem 2%;
    font-size: .9rem;
    margin-bottom: 8px;
}

main h4 {
    margin-bottom: 24px;
}

main a {
    color: #9EB59D;
}

main a:hover {
    color: #516D57;
}

/* lists */

main ul.check, main ul.cloud {
    margin: 0 0 .8rem 0;
    padding: 0 0 0 1rem;
}

main ul.check {
    list-style-type: square;
}

main ul.cloud {
    list-style-type: circle;
}

main dl dt {
    margin: 0;
    font-weight: 600;
    color: #6B7D82;
}

main dl dd {
    margin: 0;
    padding-left: 16px;
    margin-bottom: 8px;
}

/* styling images */

figure.groomer {
    float: right;
    width: 33.333%;
    border: solid 1px #B9C9D4;
    margin: 0 0 .25em 2%;
}

figure.groomer img {
    width: 100%;
}

figure.groomer figcaption{
    text-align: center;
    font-size: .7rem;
    color: #B9C9D4;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

figure.resorts {
    float: left;
    padding-top: 2px;
    border: 1px solid #B9C9D4;
    text-align: center;
    margin: 16px;
    width: 300px;
}

figure.resorts img {
    width: 100%;
}

figure.resorts figcaption {
    font-size: .7rem;
}

figure.resorts figcaption span {
    display: block;
    font-weight: bold;
    font-size: .9rem;
    color: #6B7D82;
}

/* form styling */

form.booking fieldset {
    padding: 16px;
    border-radius: 10px;
    border: solid 1.5px #6B7D82;
    margin-top: 16px;
    margin-bottom: 16px;
}

form.booking legend {
    font-weight: 600;
    margin-left: 24px;
}

form.booking span {
    display: block;
    padding: .8rem 0 0 .3rem;
    color: #6B7D82;
}

form.booking .userInfo {
    width: 40%;
    border-radius: 10px;
    border: solid 1px #B9C9D4;
    padding: .4rem;
}

form.booking ::placeholder {
    color: #B9C9D4;
    opacity: 50%;
}

form.booking .bookButton {
    width: 20rem;
    padding: .8rem;
    margin-left: 2%;
    background: #9EB59D;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

/* footer */

footer {
    text-align: center;
    background-color: rgb(107,125,130);
    color: white;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 600;
}

/* other */

div.keepOpen {
    clear: both;
}